body {
  width: 100%;
  height: 100%;
  margin: 0;
}
header{
  text-align: center;
}
img{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
nav a{
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(255,0,0);
}
figcaption{
  text-align: center;
  font-size: 10px;
}
#featured-property p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 800px;
}
#details {
  display: block;
  text-align: center; 
}
#details div {
  background-color: red;
  text-align: center; 
  float: left;
  width: 25%;
}